{% extends "layout.html" %}
{% block content %}

  <!-- Introduction -->
  <section id="intro">
    <div class="container">
      <h1>I am Evan Chen</h1>
      <h2>I am a data engineer</h2>
      <h3>I am a python developer</h3>
      <h4>I am can be a machine learning engineer</h4>
      <h5>I can dao data visualization</h5>
      <h6>I built this website</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet architecto deleniti dolorum excepturi facere hic illo inventore magni minus, nisi obcaecati omnis, quae reprehenderit sint tempora tempore voluptatem!</p>
    </div>
    <div class="example-box">
      <h1>Don't hesitate to talk to me :)</h1>
      <h2>Ask me anything, here are some examples:</h2>
      <h3>What you like to do in weekend?</h3>
      <h3>Why you want to create this website?</h3>
      <h4>What is my background?</h4>
      <h2>How do you build this web?</h2>
    </div>
  </section>
  <!-- Chatbot -->


{% endblock content %}